.git
.gitignore

venv/
.venv/
env/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

terraform/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

.env
*.pem
*.key
aws_credentials
aws_config

tests/
.pytest_cache/
.coverage
htmlcov/

*.md
.DS_Store
*.log